.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.label .quantity {
  font-style: sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.quantity {
  font-weight: 900;
}
