.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.profileCard ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
