.profileCard {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 12px;
  color: black;
  width: 720px;
  height: 744px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profileDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 48px;
}

.profileImage {
  border-radius: 50%;
  width: 248px;
  height: 248px;
  background-color: #2a2a2a;
}

.profileName {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 44px;
}

.profileTag {
  font-size: 0.9em;
  color: #929292;
  margin-top: 44px;
}

.profileLocation {
  font-size: 0.9em;
  color: #929292;
  margin-top: 32px;
}

.profileStats {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: sans-serif;
  font-size: 40px;
}

.profileStats li:last-child {
  border-right: none;
  border-bottom-right-radius: 10px;
}

.profileStats li:first-child {
  border-bottom-left-radius: 10px;
}

.profileActivity {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 3px solid #888888;
  border-left: none;
  border-bottom: none;
  width: calc(100% / 3);
  background-color: rgb(200, 200, 200);
}

.profileLabel {
  font-weight: 500;
}

.profileQuantity {
  font-size: 36px;
  font-weight: 700;
}
